<template>
    <div class="item-wrapper">
        <div class="item-card px-2">
            <img class="item-card-image" :src="item.image_firebase_url" alt="Card image cap">
            <div class="item-card-body">
                <div class="row">
                    <div class="col-7">
                        <p class="item-card-name m-0">
                            {{item.name}}
                        </p>
                    </div>
                    <div v-if="item.percent" class="col-5">
                        <div class="item-card-sale-tag m-0">
                            <p class="percent m-0 mr-auto">
                                {{item.percent}}
                            </p>
                            <p class="off m-0 ml-auto">
                                OFF
                            </p>
                        </div>
                    </div>
                </div>
                <div v-if="item.saleprice" class="d-flex justify-content-start">
                    <p class="item-price m-0">
                        {{item.saleprice}}د.ع
                    </p>
                    <p class="item-price-sale m-0">
                        {{item.price}}د.ع
                    </p>
                </div>
                <div v-if="!item.saleprice" class="d-flex justify-content-start">
                    <p class="item-price m-0">
                        د.ع{{item.price}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ItemWrapperComponent",

        props: {
            item: {
                default: function () { return [] }
            }
        },
    }
</script>

<style lang="scss">

    .item-card {
        width: 200px;
    }

    .item-card-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 5px;
        border-radius: 10px;
    }

    .item-card-name {
        font-size: 14px;
        font-weight: 600;
    }

    .item-card-sale-tag {
        display: flex;
        width: 61px;
        background-color: #FFF5EC;
        border-radius: 5px;
        color: orange;
        font-size: 12px;
    }

    .item-price {
        color: #FF9D0C;
        font-size: 16px;
        margin-right: 10px !important;
    }

    .item-price-sale {
        text-decoration: line-through;
        color: #777777;
        align-self: center;
        font-size: 12px;
    }
</style>
