<template>
    <div class="product-page">
        <div v-if="isLoading" class="container p-0">
            <div class="breadcrumb-sec">
                <h5>SHOP</h5>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <router-link class="breadcrumb-item" to="/">
                                MaxStore
                            </router-link>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item"><a href="#">Category Name</a></li>
                        <li class="breadcrumb-item"><a href="#">Subcategory</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Product Name</li>
                    </ol>
                </nav>
            </div>
            <div style="text-align: center;  height: 500px;"
                 class="row align-items-center justify-content-center">
                <div class="col-12">
                    <b-spinner label="Loading"></b-spinner>
                </div>
            </div>
        </div>

        <div v-if="!isLoading" class="container p-0">
            <div class="card-sec">
                <div class="container-fliud">
                    <div class="wrapper row">
                        <div class="details col-md-7">
                            <h5 class="product-title-top">
                                {{ category.cat_name }}
                            </h5>
                            <h3 class="product-title">{{item.name}}</h3>
                            <div>
                                <div class="rate">
                                    <input type="radio" id="star1" name="rate" value="1"/>
                                    <label for="star1" title="text">1 star</label>
                                    <input type="radio" id="star2" name="rate" value="2"/>
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3"/>
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4"/>
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star5" name="rate" value="5"/>
                                    <label for="star5" title="text">5 stars</label>
                                </div>
                            </div>
                            <div class="colored-sec">
                                <div class="button-group-pills text-right" data-toggle="buttons">
                                    <label v-for="(color, index) of item.color" v-bind:key="index"
                                           v-on:click="setColor(color)" class="btn btn-default active">
                                        <input type="radio" name="options" checked="">
                                        <div>{{color}}</div>
                                    </label>
                                    <label>
                                        Colors
                                    </label>
                                </div>
                            </div>
                            <div class="size-sec" v-if="item.size">
                                <div class="button-group-pills text-right" data-toggle="buttons">
                                    <label v-for="(size, index) of item.size" v-bind:key="index"
                                           v-on:click="setSize(size)" class="btn btn-default active">
                                        <input type="radio" name="size" checked="">
                                        <div>{{size}}</div>
                                    </label>
                                    <label>
                                        Sizes
                                    </label>
                                </div>
                            </div>
                            <div class="device-sec">
                                <div class="button-group-pills text-right" data-toggle="buttons">
                                    <label v-for="(device, index) of item.devices" v-bind:key="index"
                                           v-on:click="setDevice(device)" class="btn btn-default active">
                                        <input type="radio" name="size" checked="">
                                        <div>{{device}}</div>
                                    </label>
                                </div>
                            </div>
                            <div class="prize">
                                <span>د.ع </span>{{item.saleprice ? item.saleprice : item.price}}
                            </div>
                            <div class="discript">
                                <p>{{item.description}}</p>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="add-to text-left">
                                            <button v-on:click="addToCart()" type="submit" class="addtocart">

                                                <div v-if="isAddingToCart"
                                                     class="row align-items-center justify-content-center">
                                                    <div class="col-12">
                                                        <b-spinner label="Loading"></b-spinner>
                                                    </div>
                                                </div>
                                                <span v-if="!isAddingToCart">
                                Add To Cart

                                </span></button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button id="down" class="btn btn-default add" v-on:click="down()">
                                                    <span class="icon"><i class="fa fa-minus"
                                                                          aria-hidden="true"></i></span></button>
                                            </div>
                                            <!--                                            <input type="text" id="myNumber" class="form-control input-number"-->
                                            <!--                                                   value="1"/>-->
                                            <p style="width: 50px;text-align: center;font-size: 22px;">
                                                {{qty}}</p>
                                            <div class="input-group-btn">
                                                <button id="up" class="btn btn-default add" v-on:click="up()"><span
                                                    class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="preview col-md-5">
                            <div class="preview-pic tab-content">
                                <div class="tab-pane active" id="pic-1">
                                    <img :src="item.image_firebase_url"/>
                                </div>
                            </div>
                            <ul class="preview-thumbnail nav nav-tabs">
                                <li class="active" v-for="(image, index) of item.gallery_images" v-bind:key="index">
                                    <a data-target="#pic-1" data-toggle="tab"><img
                                        :src="image.firebase_url"/></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-sec text-center discription">
                <p>Description</p>
                <p>{{item.description}}</p>
            </div>

            <div class="card-sec suggested-items">
                <item-box :name="'Suggested Items'" :items="suggestedItems"></item-box>
            </div>
        </div>
    </div>
</template>

<script>
    import {EventBus} from "../../eventbus";
    import CartService from '../../services/cartService.js';

    const cartService = new CartService();

    export default {
        name: "ProductPageComponent",

        props: ['id'],

        async beforeMount() {
            await this.getItemByID();
            await this.getSuggestedItems();
            await this.getCategoryName(this.item.documentId);
            this.isLoading = false;
        },

        data() {
            return {
                item: undefined,
                suggestedItems: {
                    default: function () {
                        return []
                    }
                },
                isLoading: true,
                isAddingToCart: false,
                qty: 1,
                category: {},
            }
        },

        methods: {

            up() {
                this.qty++;
            },

            down() {
                if (this.qty >= 0) {
                    this.qty--;
                }
            },

            setSize(size) {
                this.item["selectedSize"] = size;
            },

            setColor(color) {
                this.item["selectedColor"] = color;
            },

            setDevice(device) {
                this.item["selectedDevice"] = device;
            },

            async getItemByID() {
                const {data} = await window.axios.get(`/api/firebase/getItemById?itemId=${this.id}`);
                console.log(data);
                this.item = data;
            },

            async getSuggestedItems() {
                const {data} = await window.axios.get('/api/firebase/getItems?suggested=true');
                this.suggestedItems = data;
            },

            async addToCart() {
                this.isAddingToCart = true;
                let _cart = await cartService.getCart();
                const index = _cart.items.findIndex(itm => itm.documentId == this.item.documentId);

                console.log(index);

                if (index != -1) {
                    this.item.qty = this.qty;
                    _cart.items[index].qty = this.qty;
                } else {
                    this.item.qty = this.qty ? this.qty : 1;
                    _cart.items.push(this.item);
                    console.log(this.item);
                }

                _cart = cartService.calculateSubtotal(_cart);
                _cart = cartService.calculateTotal(_cart);
                let res = await cartService.saveCart(_cart);
                EventBus.$emit('cart:updated', _cart);
                if (res) {
                    this.$swal.fire({
                        icon: "success",
                        title: "Added To Cart",
                    })
                }
                this.isAddingToCart = false;
                console.log(_cart);
            },

            async getCategoryName(id) {
                const {data} = await window.axios.get(`/api/firebase/getCategoryById?id=${id}`);
                this.category = data;
                console.log(this.category);
            }

        }

    }
</script>

<style lang="scss">
    @import "resources/sass/product-page/product-page";
</style>
