<template>
    <div class="thank-you">
        <section class="order">
            <div class="container">
                <div class="Thanku-box">

                    <div class="thaks-box-inner">
                        <div class="thanks-img">
                            <img :src="asset('/images/delivery-truck-2.svg')">
                        </div>
                        <h1>! شكراً لك</h1>
                        <h6>تم ارسال طلبك بنجاح</h6>

                        <div class="orderid">
                            <span>#{{$data._order.documentId}}</span>
                            <span>طلبك رقم</span>
                        </div>
                        <p class="orderpricehead">المبلغ الكلي مع التوصيل</p>
                        <p class="orderprice">
                            {{$data._order.total}} <span>د.ع</span>
                        </p>


                        <div class="thanks-btn">
                            <router-link to="/">
                                <button class="order-btn">تسوق المزيد</button>
                            </router-link>
                            <a href="JavaScript:;">
                                <button class="order-btn-2">متابعة الطلب</button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</template>

<script>
    export default {
        name: "ThankYouPageComponent",

        props: ['order'],

        data() {
            return {
                _order: {}
            }
        },

        beforeMount() {
            console.log(this.order);
            this.$data._order = JSON.parse(this.order);
        }

    }
</script>

<style scoped>
    .Thanku-box {
        width: 600px;
        background: #ffff;
        text-align: center;
        padding: 30px;
        margin: 0px auto;
        border-radius: 5px;
    }

    .thaks-box-inner h1 {
        text-align: center;
        font: normal normal bold 44px/82px Cairo;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin-bottom: -10px;
    }
    button.order-btn {
        background: #FF9D0C;
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        border: 1px solid #FF9D0C;
        width: 140px;
        height: 38px;
        border-radius: 5px;
        font: normal normal bold 14px/26px Cairo;
        letter-spacing: -0.38px;
        color: #FFFFFF;
        opacity: 1;
        box-shadow: 0px 2px 6px #0000001A;
    }

    button.order-btn-2 {
        background: #ffff;

        font-size: 13px;
        font-weight: 400;
        border: 1px solid #474747;
        width: 140px;
        height: 38px;
        border-radius: 5px;
        font: normal normal bold 14px/26px Cairo;
        color: #464646;
        opacity: 1;
        box-shadow: 0px 2px 6px #0000001A;
    }

    p.orderprice {
        font: normal normal bold 25px/47px Cairo;
        letter-spacing: -0.68px;
        color: #FF9D0C;
        opacity: 1;
    }
    p.orderpricehead {
        font: normal normal bold 15px/29px Cairo;
        letter-spacing: -0.41px;
        color: #000000;
        opacity: 0.71;
        margin-bottom: 0;
    }
    .orderid span {
        margin: 10px;
    }
    .orderid {
        font: normal normal normal 19px/36px Cairo;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin-bottom: 15px;
    }

    .thaks-box-inner h6 {
        font: normal normal normal 24px/45px Cairo;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin-bottom: -5px;
    }

    .thanks-img {
        margin-bottom: 15px;
    }
</style>
