.product-main {
    background: #ffff;
    padding: 15px;
    border-radius: 10px; 
}

.product-top .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: transparent;
    color: orange;
}

.product-item-box {
    margin-bottom: 20px;
}
.product-top .nav-pills .nav-link {
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
    color: #b7b7b7;
    padding: 7px 11px;
}
.product-img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.product-content {
    text-align: right;
}
.product-content p {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 600;
}
p.price {
    color: orange;
}
del.strike {
    color: gray;
    font-size: 11px;
    margin-right: 8px;
    vertical-align: text-bottom;
}
.product-top {
    background: #f2f2f2;
    border-radius: 7px;
}

li.more-btn button {
    font-size: 18px;
    color: orange;
    background: #ffff;
    border: 1px solid #e4e4e4;
    border-radius: 16px;
    text-align: center;
    height: 25px;
    width: 25px;
    line-height: 18px;
    padding: 0px;
}

li.more-btn {
    margin: 5px 15px;
}
button:focus{
    outline: none !important;
}

.category-image {

}
