<template>
    <div class="cart-page">
        <section class="order">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="check-side1">
                            <h3>معلومات التوصيل</h3>
                            <div class="form-box">
                                <div class="form">
                                    <form>
                                        <div class="form-group">
                                            <label>الاسم الكامل</label>
                                            <input type="text" class="form-control" v-model="form.name"
                                                   aria-describedby="" placeholder="... الرجاء ادخل اسمك هنا">
                                        </div>
                                        <div class="form-group">
                                            <label>رقم هاتفك</label>
                                            <input type="number" class="form-control" v-model="form.contactNumber"
                                                   placeholder="... الرجاء ادخل اسمك هنا">
                                        </div>
                                        <div class="form-row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>&#160;</label>
                                                    <select v-model="form.subzone" class="form-control">
                                                        <option v-for="(subzone, index) of subzones" v-bind:key="index"
                                                                :value="subzone">
                                                            {{subzone.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                   <label for="">رقم هاتفك</label>
                                                    <select class="form-control" v-model="form.zone"
                                                            v-on:change="onZoneChanged()">
                                                        <option v-for="(zone, index) of zones" v-bind:key="index"
                                                                :value="zone">
                                                            {{zone.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label>ملاحظاتك</label>
                                            <input type="text" class="form-control" v-model="form.address"
                                                   placeholder="... الرجاء ادخل اسمك هنا">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="cart" class="col-md-6">
                        <div>
                            <div class="cart-list">
                                <h3>ملاحظاتك</h3>
                            </div>
                            <div class="cart-table">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th scope="col">الصورة</th>
                                        <th scope="col">المنتج</th>
                                        <th scope="col">السعر</th>
                                        <th scope="col">الكمية</th>
                                        <th scope="col">الاجمالي</th>
                                        <th scope="col">حذف</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="item of cart['items']" v-bind:key="item.documentId">
                                        <td>
                                            <div class="cross">
                                                <a v-on:click="deleteItem(item)">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            {{item.price * item.qty}}
                                        </td>
                                        <td>
                                            <div class="number">
                                                <span class="minus" v-on:click="decreaseItemQty(item)">-</span>
                                                <span>{{item.qty}}</span>
                                                <span class="plus" v-on:click="increaseItemQty(item)">+</span>
                                            </div>
                                        </td>
                                        <td>{{item.price * item.qty}}</td>
                                        <td>{{item.name}}</td>
                                        <td><img :src="item.image_firebase_url"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div v-if="cart" class="check-btm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkout-btn">
                                <button v-on:click="onPlaceOrder()" class="btn-check">
                                    تأكيد و ارسال الطلب
                                </button>
                            </div>
                        </div>
                        <div class="col-md-2">

                            <div class="checkout-detail">
                                <div class="dtl">المبلغ الكلي</div>
                                <p>{{cart.total}}</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkout-detail">
                                <div class="dtl">التوصيل</div>
                                <p>{{cart.shipping}}</p>
                            </div>
                        </div>
                        <div class="col-md-2">

                            <div class="checkout-detail">
                                <div class="dtl">الاجمالي</div>
                                <p>{{cart.subtotal}}</p>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </section>

    </div>
</template>

<script>

    import CartService from '../../services/cartService.js';
    import {EventBus} from "../../eventbus";

    const cartService = new CartService();

    export default {

        name: "CartPageComponent",

        beforeRouteEnter(to, from, next) {
            let user = localStorage.getItem("current_user");
            if (!user) next({ path: 'sign-in' })
            else next()
        },

        data() {
            return {
                cart: undefined,

                form: {
                    email: '',
                    name: '',
                    zone: null,
                    subzone: null,
                    address: null,
                    contactNumber: "",
                },

                subzones: [],

                zones: [],

                user: [],
            }
        },

        async beforeMount() {
            await this.getZones();
            this.setUserDetails();
            await this.getCart();
        },

        methods: {
            async getCart() {
                this.cart = await cartService.getCart();
                console.log(this.cart);
            },

            async decreaseItemQty(item) {
                const index = this.cart.items.findIndex(itm => itm.documentId === item.documentId);
                if (index !== -1) {
                    if (item.qty > 1) {
                        this.cart.items[index].qty--;
                        await this.calculateTotal();
                        await this.calculateSubTotal();
                        let res = await cartService.saveCart(this.cart);
                    } else {
                        await this.deleteItem(item);
                    }
                }
            },

            async increaseItemQty(item) {
                console.log(item);
                const index = this.cart.items.findIndex(itm => itm.documentId === item.documentId);
                console.log(index);
                if (index !== -1) {
                    this.cart.items[index].qty++;
                    await this.calculateTotal();
                    await this.calculateSubTotal();
                    let res = await cartService.saveCart(this.cart);
                }
            },

            async deleteItem(item) {
                // let confirm = window.confirm("Are You Sure You Want Delete Item");
                let res = await this.$swal.fire({
                    title: 'Do you really want to delete the item?',
                    showDenyButton: true,
                    confirmButtonText: `Yes`,
                    denyButtonText: 'No',
                });
                console.log(res);
                if (res.value) {
                    const index = this.cart.items.findIndex(itm => itm.documentId === item.documentId);
                    if (index !== -1) {
                        this.cart.items.splice(index, 1);
                        await this.calculateTotal();
                        await this.calculateSubTotal();
                        let res = await cartService.saveCart(this.cart);
                    }
                }
            },

            async calculateTotal() {
                this.cart = cartService.calculateTotal(this.cart);
                EventBus.$emit('cart:updated', this.cart);
                console.log(this.cart);
            },

            async calculateSubTotal() {
                this.cart = cartService.calculateSubtotal(this.cart);
                console.log(this.cart);
            },

            async getZones() {
                const {data} = await window.axios.get('/api/firebase/getZones');
                this.zones = data;
                console.log(this.zones);
            },

            async getSubZones(zoneId) {
                const {data} = await window.axios.get(`/api/firebase/getSubZones?id=${zoneId}`);
                this.subzones = data;
                console.log(this.subzones);
            },

            async onPlaceOrder() {
                console.log(this.form);

                if (this.form.contactNumber.length !== 11 || this.form.email == "" || this.form.name == "" || !this.form.zone || !this.form.subzone || !this.form.address) {
                    return this.$swal.fire({
                        icon: "error",
                        title: 'Please fill all the fields for checkout',
                    });
                }

                const object = {};
                let tempVar = this.form;
                tempVar['profile_name'] = tempVar['name'];
                console.log(object);
                let order = await this.prepareOrderData(object);
                order = { ...order, ...tempVar }
                console.log(order);
                const {data} = await window.axios.post(`/api/orders/placeOrder`, {"order": order});
                console.log(data);
                if (data) {
                    let obj = {
                        documentId: data,
                        total: order.total
                    };
                    localStorage.removeItem('cart');
                    let str = JSON.stringify(obj);
                    EventBus.$emit('cart:updated', {});
                    this.$router.push({ path: `/thank-you/${str}` })
                }
            },

            async prepareOrderData(order) {

                const formData = Object.assign({}, this.form);
                order.items = this.cart.items;

                let order_vendors = [];
                for (let i = 0; i < order.items.length; i++) {
                    let vendor = order.items[i]["vendor"];

                    let findIndex = order_vendors.findIndex(x => x.vendor_id == vendor);
                    if (findIndex == -1) {
                        let obj = {
                            vendor_id: order.items[i]['vendor'],
                            status: "Pending"
                        }
                        order_vendors.push(obj);

                    }
                }

                order.vendors = order_vendors;

                await this.calculateTotal();
                order.items = this.cart.items;
                order.total = this.cart.total;
                order.paymentMethod = "Cash";
                order.user_id = this.user["localId"] ? this.user["localId"]  : this.user["uid"];

                console.log(this.user);

                order.status = "Pending";
                order.card = formData.card;
                order.shipping = this.cart.shipping;
                order.contactNumber = formData.contactNumber;
                order.email = formData.email;
                order.city = formData.zone["documentId"];
                order.district = formData.subzone["documentId"];
                order.zone = formData.zone["documentId"];
                order.subzone = formData.subzone["documentId"];
                order.createdAt = Date.now();
                return order;
            },

            async onZoneChanged() {
                let zone = this.form.zone;
                let zoneId = zone.documentId;
                this.setShippingFee(zone);
                await this.getSubZones(zoneId);
            },

            async setShippingFee(zone) {
                this.cart["shipping"] = zone.shippingfee;
                await this.calculateTotal();
                cartService.saveCart(this.cart);
            },

            setUserDetails() {
                const _user = localStorage.getItem('current_user');
                this.user = JSON.parse(_user);
                console.log(this.user);
                this.form["email"] = this.user.email;
            }
        },
    }
</script>

<style lang="scss">
    @import 'resources/sass/cart-page/cart-page.scss';
</style>
