.ftr-sec {
    text-align: right;
}


footer {
    background: #ffff;
    padding-top: 60px;
}

.ftr-sec h5 {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
    color: #ed9820;
    margin-bottom: 20px;}
.ftr-sec ul li a {
    text-decoration: none;
    color: #b7b7b7;
    text-transform: capitalize;
    font-weight: 400;
}

.ftr-sec p {
    color: #b7b7b7;
    font-weight: 400;
    line-height: 26px;
}
.ftr-sec ul {
    list-style: none;
}
.ftr-sec ul li {
    margin-bottom: 10px;
}

.ftr-sec ul li a span {
    margin-left: 10px;
}


.ftr-sec ul li i {
    color: #ed9820;
    text-align: center;
    margin-left: 7px;
    width: 15px;
}
i.fa.fa-mobile {
    font-size: 25px;
}
i.fa.fa-map-marker {
    font-size: 20px;
}
.ftr-logo {
    margin-bottom: 15px;
}
.ftr-sec ul li {

    text-decoration: none;
    color: #b7b7b7;
    text-transform: capitalize;
    font-weight: 400;
}

.ftr-bottm {
    background: #ed9421;
    padding: 10px 0px;
    margin-top: 15px;
}
.copyright p {
    margin-bottom: 0px;
    color: #fff;
    text-align: right;
    font-weight: 400;
}
button.btn-top {
    border: 1px solid #ffffff00;
    background: #ffffff6b;
    color: #ffff;
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 4px;
}
