<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-shite" v-bind:class=" { 'navbarOpen': show }">

        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    @click.stop="toggleNavbar()">
                <span class="navbar-toggler-icon"></span>
            </button>


            <!-- Left Side Of Navbar -->

            <ul class="navbar-nav">
                <li class="shopping_icon">
                    <img :src="asset('/images/ShoppingCart.svg')" alt="">
                </li>
                <li>
                    <router-link class="router-decoration" to="/cart-page">

                        <p class="p-0 m-0 price_tag_line">
                            {{this.cart["total"] ? this.cart["total"] : 0}}
                        </p>
                        <p class="p-0 m-0 sub_text">
                            Shopping Cart
                        </p>
                    </router-link>

                </li>
                <li>
                </li>

            </ul>


            <div class="collapse justify-content-center navbar-collapse" id="navbarSupportedContent"
                 v-bind:class="{ 'show': show }">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 header_navbar">
                    <li class="nav-item px-2">
                        <a class="nav-link">
                            <router-link class="router-decoration" to="/about-us">
                                About
                            </router-link>
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link">
                            <router-link class="router-decoration" to="/cart-page">
                                Cart
                            </router-link>
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link">
                            <router-link class="router-decoration" to="/orders-page">
                                Orders
                            </router-link>
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link">
                            <router-link class="router-decoration" to="/account">
                                Account
                            </router-link>
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link">
                            <router-link class="router-decoration" to="/vendors-page">
                                Vendors
                            </router-link>
                        </a>
                    </li>
                    <li class="nav-item px-2  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <router-link class="router-decoration" to="/shop-page">
                                Shop
                            </router-link>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li v-for="(category, index) of categories" v-bind:key="index">
                                <!--                                <a class="dropdown-item" href="#">-->
                                <router-link :to="{ name: 'ShopPage', params: { catId: category.documentId }}" class="dropdown-item">
                                    {{category.cat_name}}
                                </router-link>
                                <!--                                </a>-->
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item px">
                        <router-link to="/" class="nav-link router-decoration">
                            Home
                        </router-link>
                    </li>
                </ul>
            </div>

            <!-- Right Side Of Navbar -->
            <ul class="navbar-nav">
                <li class="header_logo">
                    <img :src="asset('/images/MaxStore-Logo.png')" alt="">
                </li>
            </ul>


        </div>

    </nav>
</template>


<style lang="scss">
    @import 'resources/sass/header/main-header.scss';
</style>

<script>
    import CartService from '../../services/cartService.js';
    import {EventBus} from "../../eventbus";

    const cartService = new CartService();

    export default {
        data() {
            return {
                show: false,
                cart: {},
                categories: []
            }
        },

        mounted() {
            EventBus.$on('cart:updated', (cart) => {
                console.log(cart);
                this.cart = cart;
            })
        },
        async beforeMount() {
            await this.getParentCategories()
            await this.getCart();
        },

        methods: {
            toggleNavbar() {
                this.show = !this.show;
            },

            async getParentCategories() {
                const {data} = await window.axios.get('/api/firebase/getParentCategories');
                this.categories = data;
                console.log(this.categories);
            },

            async getCart() {
                this.cart = await cartService.getCart();
                console.log(this.cart);
            },
        }

    }
</script>
