<template>
    <nav class="navbar top-header navbar-expand-sm shadow-sm">
        <div class="container">

            <!-- Left Side Of Navbar -->
            <ul class="navbar-nav d-flex flex-row">
                <li>
                    <i class="p-1 fa fa-user"></i>
                </li>
                <li v-if="!user" class="nav-item">
                    <router-link to="/sign-in" class="p-0 nav-link">
                        Login
                    </router-link>
                </li>
                <li v-if="!user">
                    <span class="p-1">/</span>
                </li>
                <li v-if="!user" class="nav-item">
                    <router-link to="/sign-in" class="p-0 nav-link">
                        Register
                    </router-link>
                </li>
                <li v-if="user" class="nav-item">
                    {{user.displayName !== "" ? user.displayName : user.email}}
                </li>
            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="navbar-nav d-flex flex-row">
                <li>
                    {{tagLine}}
                </li>
            </ul>

        </div>
    </nav>
</template>

<style lang="scss">
    @import 'resources/sass/header/top-header.scss';
</style>

<script>
    import {EventBus} from "../../eventbus";


    export default {
        props: {
            tagLine: {
                type: String,
                default: 'Top Bar Tagline Here'
            },
        },

        data() {
            return {
                user: null,
            }
        },

        async beforeMount() {
            await this.getUser();
        },

        mounted() {
            EventBus.$on('user:loggedIn', (user) => {
                console.log(user);
                this.user = user;
            })
        },

        methods: {
            async getUser() {
                const user = localStorage.getItem('current_user');
                this.user = JSON.parse(user);
            }
        },
    }
</script>
