// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Cairo");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

* {
    font-family: "Cairo", monospace;
}

.swal2-icon.swal2-success {
    border-color: #FF9D0C !important;
    color: #FF9D0C !important;
}

.router-decoration {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}
