.home-side-banner {
    height: 165px;
    margin-bottom: 9px;
    padding: 0;
}

.home-main-banner {
    height: 511px;
}

.all_cat_div {
    transform: translateY(-4px)
}

.on-sale-items {
    border-radius: 12px;
    padding: 0;
}
