.log-in .form-control {
    text-align: center;
}

.log-in label {
    text-align: right;
    font: normal normal 600 15px/29px Cairo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1; 
    width: 100%;
}

.log-in p {
    text-align: center;
    font: normal normal 600 13px/28px Cairo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.4;
}

.log-in h3 {
    text-align: center;
    font: normal normal bold 22px/42px Cairo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.log-in {
    background: #ffff;
    padding: 35px;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0px 4px 9px 2px #ccc8c84d;
}

button.btnorgfl {
    width: 100%;
    background: #FF9D0C 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 3px #0000001a;
    border-radius: 10px;
    border: 1px solid #FF9D0C;
    padding: 6px;
    text-align: center;
    font: normal normal bold 16px/30px Cairo;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 15px;
}

button.btnorgfl-2 {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 3px #0000001A;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 16px/30px Cairo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.log-check {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

a.chk-1 {
    font: normal normal bold 16px/30px Cairo;
    letter-spacing: 0px;
    color: #F77F1E;
    opacity: 1;
    text-decoration: none;
}

a.chk-2 {
    text-align: right;
    font: normal normal 600 16px/30px Cairo;
    letter-spacing: 0px;
    color: #A5A5A5;
    opacity: 1;
    text-decoration: none;
}

section.log.in {
    height: 100vh;
    padding: 60px 0px;
}

section.log.in {
    background-size: cover;
    background-repeat: no-repeat;
}

.log-in {
    background: #ffff;
    padding: 20px 40px;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0px 4px 9px 2px #ccc8c84d;
}



input {
    font-family: "Cairo", monospace;
}