<template>
    <div class="category-box" v-if="items.length > 0">
        <div class="product-main">
            <div class="row">
                <div class="col-9">
                    <div class="product-side">
                        <div class="product-top">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="more-btn">
                                    <button>
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </button>
                                    <button>
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                    </button>
                                </li>
                                <li v-for="(subCat, index) of subCategories"
                                    v-on:click="getCategoryItems(subCat.documentId)" v-bind:key="index"
                                    class="nav-item" role="presentation">
                                    <a class="nav-link active" :id="'pro-tab-'+index" data-toggle="pill"
                                       :href="'#pro-'+index"
                                       role="tab" :aria-controls="'pro-'+index"
                                       aria-selected="true">{{subCat.cat_name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="tab-content p-3" id="pills-tabContent">
                            <div class="row">
                                <div v-for="(item, index) of items" v-bind:key="index" class="tab-pane fade show active" :id="'pro-'+index"
                                     :aria-labelledby="'pro-tab-'+index">
                                    <div class="col-3 p-0" style="max-width: 200px">
                                        <router-link class="router-decoration" :to="'/product-page/' + item.documentId">
                                            <item-wrapper :item="item"></item-wrapper>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="product-side-2">
                        <a>
                            <img class="category-image" :src="categoryBannerImage.firebase_url">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CategoryBoxComponent",

        props: {
            category: {}
        },

        async beforeMount() {
            await this.getCategoryItems(this.category.documentId, true);
            await this.getCategorySubCategories();
            await this.getCategoryBanner();
        },

        data() {
            return {
                subCategories: [],
                items: [],
                categoryBannerImage: ""
            }
        },

        methods: {
            async getCategorySubCategories() {
                const {data} = await window.axios.get(`/api/firebase/getChildCategories?id=${this.category.documentId}`);
                this.subCategories = data;
            },

            async getCategoryItems(id, parentCat = false) {
                console.log(id);
                const {data} = await window.axios.get(`/api/firebase/getItemsByCatId?id=${id}&parentCat=${parentCat}&limit=6`);
                this.items = data;
                console.log(this.items);
            },

            async getCategoryBanner() {
                console.log(this.category.documentId);
                const {data} = await window.axios.get(`/api/firebase/getCategoryBannerImage?id=${this.category.documentId}`);
                this.categoryBannerImage = data;
                console.log(this.categoryBannerImage);
            }

        },
    }
</script>

<style lang="scss">
    @import "resources/sass/cateogry-box/category-box.scss";
</style>
