.form-box label {
    text-align: right;
    font: normal normal 600 14px/26px Cairo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
input.form-control {
    outline: none !important;
}
input.form-control {
    text-align: center;
}
.check-side1 {  
    text-align: right;
}
.form-box {
    background: #ffff;
    padding: 20px;
    border-radius: 5px;
    text-align: right;
}
.check-side1 h3 {
    margin-bottom: 15px;
    font: normal normal 600 22px/42px Cairo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.cart-list h3 {
    text-align: right;
    font: normal normal 600 22px/42px Cairo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.minus,
.plus {
    width: 20px;
    height: 30px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    font-size: 21px;
}
.number input[type="text"] {
    background: transparent;
    border: none;
}
.cart-table {
    background: #fff;
}
.cross {
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 0px auto;
}
.number input {
    height: 34px;
    outline: none;
    width: 25px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}
.cart-table table {
    color: #8c8c8c;
    text-align: right;
}
.number {
    border: 1px solid #d4d4d4;
    background: #fff;
    border-radius: 30px;
}

.check-btm {
    background: #fff;
    border-radius: 6px;
    margin-top: 25px;
    padding: 15px;
}

button.btn-check {
    font: normal normal bold 18px/33px Cairo;
    letter-spacing: -0.49px;
    color: #ffffff;
    width: 271px;
    height: 56px;
    background: #ff9d0c 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 15px #0000001a;
    border: 0.25px solid #ffffff;
    border-radius: 25px;
    opacity: 1;
}

.dtl {
    text-align: right;
    font: normal normal 600 13px/24px Cairo;
    letter-spacing: 0px;
    color: #000000;
}

.checkout-detail p {
    text-align: right;
    font: normal normal bold 23px/43px Cairo;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 0px;
}
.cart-table img {
    width: 170px;
}
.cross a i {
    line-height: 21px;
}