 .pr-price {
    text-align: right;
    font: normal normal bold 18px/42px Cairo;
    letter-spacing: -0.62px;
    color: #ff9d0c;
    opacity: 1;
}

.pr-id {
    font: normal normal 600 15px/42px Cairo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    width: 200px !important;
}
.pr-date {
    text-align: left;
    font: normal normal 600 18px/42px Cairo;
    letter-spacing: 0px;
    color: #a7a7a7;
    opacity: 1;
}
.pr-detail {
    text-align: left !important;
    font: normal normal 600 14px/43px Cairo;
    letter-spacing: 0px;
    color: #888787;
    opacity: 1;
    padding-left: 16px;
}

.pr-name {
    text-align: left;
    font: normal normal bold 20px/37px Cairo;
    letter-spacing: 0px;
    color: #ff9d0c;
    opacity: 1;
}

.pr-img img {
    text-align: center !important;
    width: 44px;
}
.order-sec div {
    width: 155px;
    text-align: right;
}
.order-sec {
    width: 100%;
    display: flex;
    background: #ffff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    outline: none !important;
}
button.order-btn {
    background: #ff9d0c;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #ff9d0c;
    width: 140px;
    height: 38px;
    border-radius: 5px;
    font: normal normal bold 14px/26px Cairo;
    letter-spacing: -0.38px;
    color: #ffffff;
    opacity: 1;
}
