<template>
    <section class="log in" :style="'background-image: asset(/images/bg-ecom.jpg)'">
        <div class="container register" v-if="!showLogin">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="log-in">
                        <h3> تسجيل حساب جديد</h3>
                        <p>يمكنك تسجيل حساب مباشرة اذا لم يكن لديك حساب مسبق عن طريق رقم هاتفك واستلام رمز خاص
                            بالدخول </p>
                        <div>
                            <div class="form-group">
                                <label>البريد الالكتروني</label>
                                <input type="email" v-model="signInForm.email" class="form-control"
                                       placeholder="example@maxstoreapp.com">
                            </div>
                            <div class="form-group">
                                <label> كلمة المرور</label>
                                <input type="password" v-model="signInForm.password" class="form-control"
                                       placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label>اسم المستخدم</label>
                                <input type="text" v-model="signInForm.displayName" class="form-control"
                                       placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label>كلمة المرور</label>
                                <input type="text" v-model="signInForm.phoneNumber" class="form-control"
                                       placeholder="example@maxstoreapp.com">
                            </div>

                            <button v-on:click="onSignIn()" type="submit" class="btnorgfl">
                                <div v-if="isLoading" class="row align-items-center justify-content-center">
                                    <div class="col-12">
                                        <b-spinner label="Loading"></b-spinner>
                                    </div>
                                </div>
                                <span v-if="!isLoading">
                                تسجيل الدخول

                                </span></button>
                            <button v-on:click="showLogin = true" class="btnorgfl-2">تسجيل حساب</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container login" v-if="showLogin">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="log-in">
                        <h3>تسجيل الدخول</h3>
                        <p>يمكنك تسجيل الدخول مباشرة اذا كان لديك حساب مسبق عن طريق رقم هاتفك واستلام رمز خاص
                            بالدخول</p>
                        <div>
                            <div class="form-group">
                                <label>البريد الالكتروني</label>
                                <input type="email" v-model="loginForm.email" class="form-control"
                                       placeholder="example@maxstoreapp.com">
                            </div>
                            <div class="form-group">
                                <label>كلمة المرور</label>
                                <input type="password" v-model="loginForm.password" class="form-control">
                            </div>

                            <button v-on:click="onLogin()" type="submit" class="btnorgfl">

                                <div v-if="isLoading" class="row align-items-center justify-content-center">
                                    <div class="col-12">
                                        <b-spinner label="Loading"></b-spinner>
                                    </div>
                                </div>
                                <span v-if="!isLoading">
                                تسجيل الدخول

                                </span></button>
                            <button v-on:click="showLogin = false" class="btnorgfl-2">تسجيل حساب</button>

                            <div class="log-check">
                                <a v-on:click="showLogin = false" class="chk-1">تسجيل الان</a>
                                <router-link class="router-decoration" to="/vendor-register">تسجيل حساب تاجر
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container vendor-register">

        </div> -->
    </section>
</template>

<script>
    import {EventBus} from "../../eventbus";

    export default {
        name: "SignInPageComponent",

        data() {
            return {
                loginForm: {
                    email: "",
                    password: ""
                },

                signInForm: {
                    displayName: "",
                    email: "",
                    password: "",
                    phoneNumber: "",
                },

                showLogin: true,

                isLoading: false
            }
        },

        methods: {
            async onLogin() {
                this.isLoading = true;
                console.log(this.loginForm);
                if (this.loginForm.email === "" || this.loginForm.email === "") {
                    return this.$swal.fire({
                        icon: "error",
                        title: 'Please fill all the fields to Login',
                    });
                }
                const {data} = await window.axios.post('/api/auth/signIn', {"cred": this.loginForm});
                console.log(data);
                if (data) {
                    this.$swal.fire({
                        icon: "success",
                        confirmButtonColor: "#FF9D0C",
                        title: "Login Successful",
                    })
                    this.$router.push('/');
                    let str = JSON.stringify(data);
                    localStorage.setItem('current_user', str);
                    EventBus.$emit('user:loggedIn', data);
                }

                this.isLoading = false;
            },

            async onSignIn() {
                this.isLoading = true;

                console.log(this.signInForm);
                if (this.signInForm.phoneNumber.length !== 10 || this.signInForm.displayName == "" || this.signInForm.password == "" || this.signInForm.email == "") {
                    return this.$swal.fire({
                        icon: "error",
                        title: 'Please fill all the fields to register as a user',
                    });
                }
                const {data} = await window.axios.post('/api/auth/registerUser', {"user": this.signInForm});
                console.log(data);
                if (data) {
                    this.$swal.fire({
                        icon: "success",
                        confirmButtonColor: "#FF9D0C",
                        title: "Register Successful",
                    })
                    this.$router.push('/');
                    let str = JSON.stringify(data);
                    localStorage.setItem('current_user', str);
                    EventBus.$emit('user:loggedIn', data);
                    this.saveUser(data);
                }

                this.isLoading = false;

            },

            async saveUser(obj) {
                let user = {
                    id: obj.uid,
                    firstName: this.signInForm.displayName,
                    lastName: "",
                    created_at: Date.now(),
                };
                const {data} = await window.axios.post('/api/auth/saveUser', {"user": user});
                console.log(data);
            }


        },

    }
</script>

<style lang="scss">
    @import "resources/sass/signin-page/signin-page";
</style>
