.product-main {
    background: #ffff;
    padding: 15px;
    border-radius: 10px
}

.product-item-box {
    margin-bottom: 20px
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px
}

.product-content {
    text-align: right
}

.product-content p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600
}

p.price {
    color: orange
}

del.strike {
    color: gray;
    font-size: 11px;
    margin-right: 8px;
    vertical-align: text-bottom
}

.form-search {
    background: #EBF2F5 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    position: relative;
}

.form-search input[type="text"] {
    width: 100%;
    text-align: right;
    border: none;
    background: transparent;
    height: 43px;
    padding: 10px 15px;
    outline: none !important;
}

.form-search button {
    background: #000000;
    position: absolute;
    border-radius: 8px;
    opacity: 1;
    width: 66px;
    height: 36px;
    color: #ffff;
    border: 0px solid black;
    top: 4px;
    left: 5px;
    outline: none !important;
}

.top-search {
    margin-bottom: 20px;
}

.category-sec {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: right;
}

ul.category {
    list-style: none;
    padding-left: 0px;
}

ul.category li a {
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: right;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
}

a.catg-list i.rgt {
    display: none;
}

a.catg-list i.fa.fa-chevron-down.lft {
    float: left;
}

a.catg-list i.fa.fa-chevron-up.rgt {
    float: left;
}

.right-icon {
    font-size: 16px;
    margin-left: 10px;
}

ul.category li {
    padding: 8px 0px;
    border-bottom: 1px solid #e6e6e6;
}

ul.inner-items {
    padding-left: 0px;
    list-style: none;
}

ul.inner-items li {
    padding-bottom: 0px;
    border: none;
    font-size: 13px;
}

.category h3 {
    text-align: right;
    font-size: 20px;
    color: #131414;
    opacity: 1;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 15px;
}

select.slt {
    word-wrap: normal;
    background: #EBF2F5 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    border: 1px solid #ebf2f5;
    width: 100%;
    padding: 9px 10px;
    outline: none !important;
    font-weight: 600;
}
