<template>

    <div class="container-fluid search_box_bg">

        <div class="container">
            <div class="row d-flex align-items-center justify-content-end">
                <div class="col-2 pr-1"></div>
                <div class="col-8 pr-2">
                    <div class="header_search">
                        <input type="text" name="searchString" v-model="searchString" v-on:change="onChange()" placeholder="Search Products Here">
                    </div>
                </div>
                <div class="all_cat_container dropdown col-2">
                    <a class="nav-link p-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p class="p-0 text-white ">
                            All Categories
                        </p>
                        <i class="fa fa-list-ul"></i>

<!--                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 100%;">-->
<!--                            <category-list></category-list>-->
<!--                        </ul>-->
                    </a>
                </div>
            </div>
        </div>

    </div>

</template>

<style lang="scss">
    @import 'resources/sass/header/search-bar.scss';
</style>

<script>
    export default {
        data() {
            return {
                searchString: ''
            };
        },

        methods: {
            async onChange() {
                console.log(this.searchString);
                const {data} = await window.axios.get(`/api/firebase/getItemBySearchString?searchTerm=${this.searchString}`);
                console.log(data);
            }
        }

    }
</script>
