<template>
    <div v-if="isLoading" style="height: 100%" class="container d-flex align-items-center justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div v-else-if="!isLoading" class="container">

        <!--  *********************** TOP BANNER AREA ************************** -->

        <div class="row justify-content-start">
            <div class="col-2 pr-0">
                <div class="row">
                    <div class="col-12 home-side-banner">
                        <banner :banners="mainSlides.filter((x) => x.type === 'website_banner_1')"></banner>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 home-side-banner">
                        <banner :banners="mainSlides.filter((x) => x.type === 'website_banner_2')"></banner>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 home-side-banner">
                        <banner :banners="mainSlides.filter((x) => x.type === 'website_banner_3')"></banner>
                    </div>
                </div>
            </div>
            <div class="col-8 home-main-banner">
                <div class="px-1">
                    <banner :banners="mainSlides.filter((x) => x.type === 'website_banner_4')"></banner>
                </div>
            </div>
            <div class="col-2 p-0 all_cat_div">
                <category-list :categories="categories"></category-list>
            </div>
        </div>

        <!--  *********************** ON SALE ITEMS AREA ************************** -->

        <div class="row py-1" v-if="saleItems.length > 0">
            <div class="col-12 on-sale-items">
                <item-box :name="'Sale Items'" :items="saleItems"></item-box>
            </div>
        </div>

        <!--  *********************** FEATURED BANNER AND FEATURED ITEMS AREA ************************** -->

        <div class="row py-2">

            <!--  *********************** FEATURED BANNER  ************************** -->

            <div class="col-6 pl-0">
                <banner :banners="featuredSlides"></banner>
            </div>

            <!--  *********************** FEATURED ITEMS  ************************** -->

            <div class="col-6 pr-0">
                <item-box :name="'Featured Items'" :items="featuredItems"></item-box>
            </div>

        </div>

        <!--  *********************** CATEGORIES AREA START  ************************** -->

        <div class="category-boxes">
            <div v-for="(category, index) of categories" v-bind:key="index" class="row py-2">
                <div v-if="index < 4" class="col-12 p-0">
                    <category-box :category="category"></category-box>
                </div>
            </div>
        </div>

    </div>
</template>

<style lang="scss">
    @import "../../../sass/home";
</style>

<script>
    export default {

        async beforeMount() {
            await this.loadData();
        },

        data() {
            return {
                featuredItems: [],

                saleItems: [],

                categories: [],

                mainSlides: [],

                featuredSlides: [],

                isLoading: false
            }
        },


        methods: {
            async loadData() {
                this.isLoading = true;
                await this.getFeaturedSlides();
                await this.getSaleItems();
                await this.getParentCategories();
                await this.getFeaturedItems();
                await this.getMainSlides();
                this.isLoading = false;
            },

            async getFeaturedItems() {
                const {data} = await window.axios.get('/api/firebase/getItems?feature=true');
                this.featuredItems = data;
                console.log("featured items", this.featuredItems);
            },

            async getSaleItems() {
                const {data} = await window.axios.get('/api/firebase/getItems?onSale=true');
                console.log("Here are the sale Items", this.saleItems);
                this.saleItems = data;
            },

            async getParentCategories() {
                const {data} = await window.axios.get('/api/firebase/getParentCategories');
                this.categories = data;
                console.log(this.categories);
            },

            async getMainSlides() {
                const {data} = await window.axios.get('/api/firebase/getSlides?mainSlider=true');
                this.mainSlides = data;
                console.log("Here Are The Main Sliders", this.mainSlides);
            },

            async getFeaturedSlides() {
                const {data} = await window.axios.get('/api/firebase/getSlides?featuredSlider=true');
                this.featuredSlides = data;
                console.log("Here Are The Featured Sliders", this.featuredSlides);
            }
        },

    }
</script>
