<template>
    <div class="vendors-page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4 all-vendors" v-for="(vendor,index) in vendors" v-bind:key="index" >
                    <router-link :to="{ name: 'ShopPage', params: { venId: vendor.documentId }}">
                        <img class="max-vendors" :src="vendor.firebase_url">
                        <p class="text-center text-wrap m-0 p-0">
                            <span style="font-size: 1.2rem">{{ vendor.shopname }}</span>
                        </p>
                        <p class="text-center text-wrap m-0 p-0">
                            <span style="font-size: 1.0rem">{{ vendor.phone1 ? vendor.phone1 : vendor.phone2 }}</span>
                        </p>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "VendorsPageComponent",

        async beforeMount() {
            await this.getVendors();
            this.isLoading = false;
        },

        data() {
            return {
                vendors: [],
                isLoading: true,
            }
        },

        methods: {
            async getVendors() {
                let string = `/api/firebase/getVendors`
                const {data} = await window.axios.get(string);
                console.log(data);
                this.vendors = data;
            },
        }
    }
</script>

<style scoped>

    p {
        color: #656d79;
        text-transform: uppercase;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .max-vendors {
        width: 100%;
        height: 150px;
        padding: 0;
        object-fit: cover;
        box-shadow: 0px 5px 5px #0000000d;
        border: 1px solid #cccccc;
        border-radius: 15px;
        margin: 25px 0;
    }



</style>
