<template>
    <section class="account">
        <div class="container">
            <div class="">
                <div class="">
                    <div class="account-box">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                   role="tab" aria-controls="nav-profile" aria-selected="false">Myorder</a>
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                   role="tab" aria-controls="nav-home" aria-selected="true">Account</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                 aria-labelledby="nav-home-tab">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="account-box-inner">
                                            <div class="acc-head">
                                                بقى لديك فقط 30 يوماً لإنتهاء الاشتراك الخاص بك
                                            </div>
                                            <div class="acc-btm">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <div class="inner-value">
                                                            <div class="inner-1">
                                                                <p>{{userDetails.displayName ? userDetails.displayName : "---"}}</p>
                                                                <p>Your Name</p>
                                                            </div>
                                                            <div class="inner-1">
                                                                <p>{{userDetails.phoneNumber ? userDetails.phoneNumber : "---"}}</p>
                                                                <p>Phone Number</p>
                                                            </div>
                                                            <div class="inner-1">
                                                                <p>@{{userDetails.email}}</p>
                                                                <p>Email </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <div class="profile">
                                                            <div class="pro-img">
                                                                <img :src="userDetails.photoUrl ? userDetails.photoUrl : asset('/images/avatar.png')">
                                                            </div>
                                                            <button class="gray-btn">
                                                                ارفع صورة
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                 aria-labelledby="nav-profile-tab">
                                <orders-page></orders-page>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
    export default {
        name: "AccountPageComponent",

        beforeRouteEnter(to, from, next) {
            let user = localStorage.getItem("current_user");
            if (!user) next({ path: 'sign-in' })
            else next()
        },


        async created() {
            await  this.getCurrentUser();
        },

        data() {
            return {
                user: {},
                userDetails: {}
            }
        },

        methods: {
            async getCurrentUser() {
                let str = localStorage.getItem("current_user");
                let user =  JSON.parse(str);
                const {data} = await window.axios.get(`/api/auth/getCurrentUser?uid=${user.localId ? user.localId : user.uid}`);
                this.userDetails = data;
                console.log(data);
            }
        }


    }
</script>

<style lang="scss">
    @import 'resources/sass/account-page/account-page.scss';
</style>
