<template>
    <div class="about-page">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="jumbotron" style="background-color: inherit !important;">
                    <div style="display: flex;justify-content: center">
                        <img :src="asset('/images/MaxStore-Logo.png')">
                    </div>
                    <p style="font-size: 2.5rem; text-align: center" class="my-2">{{about.abouttitle}}</p>
                    <p class="lead">Description: <br> {{about.aboutdesc}}</p>
                    <hr class="my-4">

                    <div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fa fa-mailchimp"></i>
                                Email : {{about.email}}
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-facebook"></i>
                                <a :href="about.facebook">
                                    Our Facebook Page
                                </a>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-telegram"></i>
                                Telegram : {{about.telegram}}
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-instagram"></i>
                                <a :href="about.instagram">
                                    Our Instagram Page
                                </a>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-whatsapp"></i>
                                WhatsApp : {{about.whatsapp}}
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-youtube"></i>
                                <a :href="about.youtube">
                                    Our Youtube Page
                                </a>
                            </li>
                            <li class="list-group-item">Phone No.1 : {{about.phone1}}</li>
                            <li class="list-group-item">Phone No.2 : {{about.phone2}}</li>
                            <li class="list-group-item">Address : {{about.address}} </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "AboutUsPageComponent",

        async beforeMount() {
            await this.getAbout();
        },

        data() {
            return {
                about: undefined
            }
        },

        methods: {
            async getAbout() {
                const {data} = await window.axios.get(`/api/firebase/getAbout`);
                console.log(data);
                this.about = data;
            }

        }
    }
</script>

<style scoped>

</style>
