<template>
    <div class="list-group">
        <router-link v-for="(category, index) in categories" v-if="index > 10" v-bind:key="category.documentId"
                     :to="{ name: 'ShopPage', params: { catId: category.documentId }}"
                     class="list-group-item list-group-item-action">
            {{category.cat_name}}
        </router-link>
        <a href="#" class="list-group-item list-group-item-action view-all">View All Categories</a>-
    </div>
</template>

<script>
    export default {
        name: "CategoryListComponent",

        props: {
            categories: {
                default: function () {
                    return []
                }
            },
        }
        
    }
</script>

<style scoped>
    .view-all {
        color: #F77F1E;
    }
</style>
