<template>
    <section class="vendor-register" :style="'background-image: asset(/images/bg-ecom.jpg)'">
        <div class="container vendor-register">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="log-in">
                        <h3>Register As Vendor</h3>
                        <p>يمكنك تسجيل حساب مباشرة اذا لم يكن لديك حساب مسبق عن طريق رقم هاتفك واستلام رمز خاص
                            بالدخول </p>
                        <div>
                            <div class="form-group">
                                <label>البريد الالكتروني</label>
                                <input type="email" v-model="vendorRegisterForm.email" class="form-control"
                                       placeholder="example@maxstoreapp.com">
                            </div>
                            <div class="form-row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label> </label>
                                        <input type="text" v-model="vendorRegisterForm.firstName" class="form-control"
                                               placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label> </label>
                                        <input type="text" v-model="vendorRegisterForm.lastName" class="form-control"
                                               placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> كلمة المرور</label>
                                <input type="password" v-model="vendorRegisterForm.password" class="form-control"
                                       placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label>Vendor Name </label>
                                <input type="text" v-model="vendorRegisterForm.ven_name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Address </label>
                                <input type="text" v-model="vendorRegisterForm.address" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Phone </label>
                                <input type="text" v-model="vendorRegisterForm.phoneNumber" class="form-control">
                            </div>

                            <button v-on:click="onSignIn()" type="submit" class="btnorgfl">
                                <div v-if="isLoading" class="row align-items-center justify-content-center">
                                    <div class="col-12">
                                        <b-spinner label="Loading"></b-spinner>
                                    </div>
                                </div>
                                <span v-if="!isLoading">
                                تسجيل الدخول
                                </span>
                            </button>
                            <button v-on:click="showLogin = true" class="btnorgfl-2">تسجيل حساب</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {EventBus} from "../../eventbus";
    import VendorRegisterService from "../../services/vendorRegisterService";

    const vendorRegisterService = new VendorRegisterService();

    export default {
        name: "VendorRegisterComponent",

        data() {
            return {
                vendorRegisterForm: {
                    email: '',
                    firstName: '',
                    lastName: '',
                    ven_name: '',
                    phoneNumber: '',
                    address: '',
                    password: '',
                },

                isLoading: false
            }
        },

        methods: {
            async onSignIn() {
                this.isLoading = true;

                console.log(this.vendorRegisterForm);
                if (this.vendorRegisterForm.phoneNumber.length !== 10 || this.vendorRegisterForm.firstName === "" || this.vendorRegisterForm.lastName === "" || this.vendorRegisterForm.email === "" ||
                    this.vendorRegisterForm.address === "") {
                    return this.$swal.fire({
                        icon: "error",
                        title: 'Please fill all the fields to register as a vendor',
                    });
                }

                // Check If Vendor Exists
                console.log(this.vendorRegisterForm);
                this.vendorRegisterForm["displayName"] = this.vendorRegisterForm["firstName"] + " " + this.vendorRegisterForm["lastName"];

                let res = await vendorRegisterService.checkIfVendorExists(this.vendorRegisterForm);
                console.log(res);

                if (res) {
                    return this.$swal.fire({
                        icon: "error",
                        confirmButtonColor: "#FF9D0C",
                        title: "Vendor Already Access",
                    })
                }

                // ************** If it doesn't then register User ************

                let reg_res = await vendorRegisterService.registerUser(this.vendorRegisterForm);

                if (reg_res) {
                    console.log(reg_res);

                    this.saveUser(reg_res);

                    /// ************** if user registered AND saved succcess then register Vendor *****************
                    let vendor_save = await vendorRegisterService.registerVendor(this.vendorRegisterForm);

                    console.log("Venodr SAved Reponse", vendor_save);

                    if (vendor_save) {
                        //     // ************** up0date user ******************* //
                        let obj = {
                            uid: reg_res.uid,
                            ven_key: vendor_save
                        }

                        // wait for update response

                        let res = await this.updateUser(obj);


                        if (res) {
                            this.$swal.fire({
                                icon: "success",
                                confirmButtonColor: "#FF9D0C",
                                title: "You have registered As vendor",
                                text: 'You will be contacted Shortly !!!',
                            })
                            this.$router.push('/');

                        }
                    }

                }

                this.isLoading = false;


            },


            async saveUser(user_data) {

                // saving the user after registering

                let obj = this.vendorRegisterForm;
                obj["uid"] = user_data["uid"];
                let res = await vendorRegisterService.saveUser(obj);
                console.log("SAved The User In DataBase", res);
            },

            async updateUser(obj) {

                // Updatting the user after regiastering vendor

                return new Promise(async resolve => {

                    let data = this.vendorRegisterForm;
                    data["uid"] = obj["uid"];
                    data["ven_key"] = obj["ven_key"];
                    let res = await vendorRegisterService.updateUser(data);
                    console.log("Updated The User In DataBase", res);

                    resolve(res);
                })


            }


        },

    }
</script>

<style lang="scss">
</style>
