 .shopping_icon {
    align-self: center;
    padding-right: 15px;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ed9720;
    border-radius: 10px;
}

input[type=text] {
    font-family: "Cairo", monospace;
}
.price_tag_line {
    text-align: center;
    letter-spacing: 2.55px;
    color: #FF9D0C;
    font-size: 19px;
    font-weight: bold;
}

.sub_text {
    text-align: center;
    letter-spacing: 0px;
    font-size: 11px;
    font-weight: bold;
}

.header_logo {

}

.header_navbar {

    li {
        font-size: 18px;
        font-weight: bold;
        color: #000000;
    }
}
