.search_box_bg {
    display: flex;
    align-items: center;
    height: 60px;
    background: linear-gradient(270deg, #f7991e 0%, #f7991e 52%, #f7781e 100%);
}

.header_search {
    display: flex;
    background: white;
    border-radius: 50px;
    height: 39px; 
    align-items: center;
}
.header_search::before {
    font-family: FontAwesome;
    content: "\F002";
    font-weight: 900;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 45px;
    position: relative;
    width: 66px;
    height: 37px;
    margin-left: 2px;
}

input {
    font-family: Font Awesome;
} /* This is for the placeholder */

.header_search > input {
    position: relative;
    border: none;
    direction: rtl;
    font-size: 18px;
    color: #000000;
    padding-left: 15px;
    width: 85%;
    border-radius: 50px;
    outline-width: 0;
}

input[type="text"] {
    font-family: "Cairo", monospace;
}


.all_cat_container {
    height: 60px;
    display: flex;
    background: #feb352;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;

    p {
        display: contents;
    }

    i {
        color: white;
        padding-left: 5px;
    }
}
