<template>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="ftr-sec">
                        <h5>About max store</h5>
                        <p>{{about.aboutdesc}}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftr-sec">
                        <h5>navigate</h5>
                        <ul>
                            <li><a :href="about.facebook">Facebook <span>&#9679;</span></a></li>
                            <li><a :href="about.instagram">instagram <span>&#9679;</span></a></li>
                            <li><a href="https://play.google.com/store/apps/details?id=com.kreateapps.maxstore">download for android <span>&#9679;</span></a></li>
                            <!-- <li><a href="JavaScript:;">download for iphone <span>&#9679;</span></a></li> -->


                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftr-sec">
                        <h5>navigate</h5>
                        <ul>
                            <li>
                                <router-link to="/">home <span>&#9679;</span></router-link>
                            </li>
                            <li>
                                <router-link to="/shop-page">shop <span>&#9679;</span></router-link>
                            </li>
                            <li>
                                <router-link to="/vendors-page">vendors <span>&#9679;</span></router-link>
                            </li>
                            <li>
                                <router-link to="/account">account <span>&#9679;</span></router-link>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftr-sec ">
                        <div class="ftr-logo">
                            <img :src="asset('/images/FooterLogo.png')">
                        </div>
                        <ul>
                            <li>{{about.email}}<i class="fa fa-envelope" aria-hidden="true"></i></li>
                            <li><span style="font-size: 11px">{{about.phone1}},{{about.phone2}}</span><i
                                class="fa fa-mobile"
                                aria-hidden="true"></i></li>
                            <li>{{about.address}}<i class="fa fa-map-marker" aria-hidden="true"></i></li>

                            <li></li>

                            <li></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="ftr-bottm">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="go-top">
                            <a href="JavaScript:;">
                                <button v-on:click="scrollToTop()" class="btn-top">
                                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="copyright">
                            <p>2020 &#169; All rights reserved</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</template>
<script>
    export default {
        name: "FooterComponent",

        async created() {
            await this.getAbout();
        },

        data() {
            return {
                about: {}
            }
        },

        methods: {
            async getAbout() {
                const {data} = await window.axios.get(`/api/firebase/getAbout`);
                console.log(data);
                this.about = data;
            },

            scrollToTop() {
                window.scrollTo(0, 0);
            }
        }

    }
</script>

<style lang="scss">
    @import "resources/sass/footer/footer.scss";
</style>
