<template>
    <div class="img-container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="1000">
            <div class="carousel-inner">
                <div class="carousel-item" v-for="(banner,idx) of banners" :class="{ active : idx === 0 }">
                    <img :src="banner.firebase_url" alt="First slide">
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">

    .img-container {
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }

    }

</style>

<script>
    export default {
        props: ['banners'],

        data() {
          return {
              mainBanner: [
                  require('../../../assets/WebsiteDemoMainSliderImage.png'),
                  require('../../../assets/WebsiteDemoMainSliderImage.png'),
                  require('../../../assets/WebsiteDemoMainSliderImage.png'),
                  require('../../../assets/WebsiteDemoMainSliderImage.png'),
              ],
          }
        },

        mounted() {
            console.log(this.banners);
        }
    }
</script>
