<template>
    <div class="order-page">
        <section class="order">
            <div class="container">
                <div class="order-box">

                <div v-for="(order, index) in orders" v-bind:key="index" class="order-sec">
                    <div class="pr-btn"><button class="order-btn">مشاهدة</button></div>
                        <div class="pr-name">{{order.status}}</div>
                        <div class="pr-price"><span>د.ع</span>{{order.total}}</div>
                        <div class="pr-detail">المبلغ الكلي</div>
                        <div class="pr-date">{{order.createdAt | formatDate}}</div>
                        <div class="pr-id">{{order.documentId}}</div>
                        <div class="pr-img"><img :src="asset('/images/delivery-truck.svg')"></div>
                </div>


                </div>
            </div>
        </section>

    </div>
</template>

<script>
    export default {

        name: "OrdersPageComponent",

        data() {
            return {
                user: {},
                orders: {},
            }
        },

        beforeRouteEnter(to, from, next) {
            let user = localStorage.getItem("current_user");
            if (!user) next({ path: 'sign-in' })
            else next()
        },

        async beforeMount() {
            await this.getUser();
            await this.getUserOrders();
        },

        methods: {
            async getUser() {
                const user = localStorage.getItem('current_user');
                this.user = JSON.parse(user);
                console.log(this.user);
            },

            async getUserOrders() {
                console.log(this.user["localId"]);
                const {data} = await window.axios.get(`/api/orders/getUserOrders?uid=${this.user["localId"] ? this.user["localId"] : this.user["uid"] }`);
                console.log(data);
                this.orders = data;
            }
        }

    }
</script>

<style lang="scss">
    @import 'resources/sass/orders-page/orders-page.scss';
</style>
