<template>

    <div>
              
        <!-- <b-form @submit="onSubmit" @reset="onReset">
            <b-form-group
                id="input-group-1"
                label="Email address:"
                label-for="input-1"
                description="We'll never share your email with anyone else."
            >
                <b-form-input
                    id="input-1"
                    v-model="form.email"
                    type="email"
                    placeholder="Enter email"
                    required
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.name"
                    placeholder="Enter name"
                    required
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-3" label="Address:" label-for="input-3">
                <b-form-input
                    id="input-3"
                    v-model="form.address"
                    placeholder="Enter Address"
                    required
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-4" label="Contact Number:" label-for="input-4">
                <b-form-input
                    id="input-4"
                    v-model="form.contactNumber"
                    placeholder="Enter Address"
                    required
                ></b-form-input>
            </b-form-group>

            <div class="row">
                <div class="col-6">
                    <b-form-group label="Zone:" id="input-group-5">
                        <b-form-select
                            v-model="form.zone"
                            :options="zones"
                            :value="null"
                            value-field="documentId"
                            text-field="name"
                        ></b-form-select>
                    </b-form-group>
                </div>
                <div class="col-6">
                    <b-form-group label="Subzone:" id="input-group-5">
                        <b-form-select
                            v-model="form.subzone"
                            :options="subzones"
                            :value="null"
                            value-field="documentId"
                            text-field="name"
                        ></b-form-select>
                    </b-form-group>
                </div>
            </div>

            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form> -->
    </div>
</template>

<script>
    import CartService from '../../services/cartService.js';
    const cartService = new CartService();

    export default {
        name: "CheckOutPageComponent",

        async beforeMount() {
            await this.getCart();
            await this.getZones();
            await this.getSubZones();
        },


        data() {
            return {
                form: {
                    email: '',
                    name: '',
                    zone: null,
                    subzone: null,
                    address: null,
                    contactNumber: null,
                },

                subzones: [],

                zones: [],

                cart: {},
            }
        },


        methods: {
            onSubmit(event) {
                event.preventDefault()
                alert(JSON.stringify(this.form))
            },

            async getCart() {
                this.cart = await cartService.getCart();
                console.log(this.cart);
            },

            async getZones() {
                const {data} = await window.axios.get('/api/firebase/getZones');
                this.zones = data;
                console.log(this.zones);
            },

            async getSubZones() {
                const {data} = await window.axios.get('/api/firebase/getSubZones');
                this.subzones = data;
                console.log(this.subzones);
            }
        }
    }
</script>

<style lang="scss">
    @import 'resources/sass/cart-page/cart-page.scss';
</style>