 img {
    max-width: 100%;
}
.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}
.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}
.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}
.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    overflow: hidden;
}
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}
.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}
.tab-content {
    overflow: hidden;
}
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.card-sec {
    margin-top: 20px;
    background: #fff;
    padding: 3em;
    line-height: 1.5em;
    border: 1px solid #fff;
    border-radius: 5px;
}
@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.product-title {
    text-transform: UPPERCASE;
    font-weight: 700;
}

label.btn.btn-default.active.focus {
    background: #eb7e25;
    color: #ffff;
}
.input-group.cstm-add {
    width: 132px;
    float: right;
}



.product-title {
    margin-bottom: 10px;
}
.product-title {
    margin-top: 0;
    font: normal normal bold 23px/43px Cairo;
    letter-spacing: 0;
    color: #000;
}
@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.details {
    text-align: right;
}
.tab-content {
    overflow: hidden;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}
.product-title-top {
    color: #565656;
    font: normal normal normal 16px/30px Cairo;
    letter-spacing: 0;
}
.rate {
    float: right;
    height: 46px;
    /* padding: 0 10px; */
    text-align: right;
}
.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}
.rate:not(:checked) > label {
    float: left;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}
.rate:not(:checked) > label:before {
    content: "★ ";
}
.rate > input:checked ~ label {
    color: #f77f1e;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #f77f1e;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #f77f1e;
}
button.addtocart {
    color: #fff;
    background: #f77f1e 0% 0% no-repeat padding-box;
    border: 1px solid #f77f1e;
    border-radius: 5px;
    border-radius: 5px;
    font: normal normal 600 16px/34px Cairo;
    height: 44px;
    width: 180px;
}
// .button-group-pills .btn.active {
//     color: #fff;
//     background: #f77f1e 0% 0% no-repeat padding-box;
//     border: 1px solid #f77f1e;
// }
.button-group-pills .btn:hover {
    border-color: #f77f1e;
    background-color: #f77f1e;
    color: #fff;
}
label.btn.btn-default input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}
label.btn.btn-default div {
    position: relative;
    top: -4px;
}
.prize {
    text-align: right;
    font: normal normal 600 27px/50px Cairo;
    letter-spacing: 0px;
    color: #f77f1e;
}
.discript p {
    text-align: right;
    font: normal normal normal 20px/38px Cairo;
    letter-spacing: 0px;
    color: #b4b4b4;
    line-height: 1.5;
}
.add:hover {
    background: #eb7e25;
    color: #fff;
}
.add {
    background: #ffff;
    border: 1px solid #eb7e25;
    color: #eb7e25;
}
input.form-control.input-number {
    border: none;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top: -7px;
}
button.addtocart {
    color: #fff;
    background: #f77f1e 0% 0% no-repeat padding-box;
    border: 1px solid #f77f1e;
    border-radius: 5px;
    border-radius: 5px;
    font: normal normal 600 16px/34px Cairo;
    padding: 0px 25px;
    height: 40px;
}
.breadcrumb-sec {
    text-align: center;
    background: #ffff;
    border-radius: 5px;
    padding: 20px;
}
.breadcrumb-sec ol.breadcrumb {
    justify-content: center;
    background: transparent;
    padding: 0px;
    margin-bottom: 0px;
    color: #000000;
}
.breadcrumb-sec ol.breadcrumb li a {
    letter-spacing: 0px;
    color: #000000;
    font: normal normal normal 15px/24px Cairo;
}
.breadcrumb-item.active {
    color: #eb7e25;
}
.breadcrumb-sec h5 {
    color: #eb7e25;
}
.card-sec.text-center p {
    text-align: center;
    font: normal normal bold 20px/60px Cairo;
    letter-spacing: 0px;
    color: #b4b4b4;
}

.suggested-items {
    border-radius: 10px;
    height: 335px;
    padding: 0;
}


button.add {
    height: 38px;
    width: 40px;
}

p.qty-sc {
    margin-top: 8px;
    font-weight: 600;
}
.colored-sec label.btn.btn-default {
    border: 1px solid #cccccc;
    background: transparent;
    color: #adadad;
    margin-left: 10px;
    width: 90px;
}
label.btn.btn-default div {
    position: relative;
    top: -1px;
}