.account-box .nav.nav-tabs {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    border: none;
    background: #fff;
    border-radius: 6px;
}

.account-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: transparent;
    border: none;
    border-bottom: 2px solid #F77F1E !important;
    color: #F77F1E !important;
}

.account-box .nav.nav-tabs a {
    text-align: center;
    font: normal normal bold 16px/48px Cairo;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    border-bottom: 2px solid #00000000;
}

.acc-head {
    background: #F77F1E 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    padding: 5px;
}

.acc-head {
    text-align: center;
    font: normal normal normal 14px/35px Cairo;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.pro-img {
    overflow: hidden;
    border-radius: 63%;
    width: 110px;
    height: 110px;
    margin: 0px auto;
}

.profile {
    text-align: center;
}

.pro-img img {
    width: 100%;
}

.account-box .tab-content {
    padding-top: 30px;
}

button.gray-btn {
    margin-top: 13px;
    text-align: center;
    font: normal normal 600 13px/0 px Cairo;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: #4D4D4D 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    width: 129px;
    height: 37px;
}

.inner-1 p {
    width: 50%;
    text-align: right;
    font: normal normal 600 18px/35px Cairo;
    letter-spacing: 0px;
    color: #4B4B4B;
    margin-bottom: 0px;
    opacity: 1;
}

.inner-1 {
    display: flex;
    text-align: right;
    padding: 5px;
}

.inner-value {
    padding: 10px;
}

.acc-btm {
    padding: 30px 30px;
    background: #ffff;
}


.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}  
