<template>
    <div class="shop-page">
        <div class="container-fluid p-0">
            <div class="breadcrumb-sec mb-2">
                <h5>SHOP</h5>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <router-link class="breadcrumb-item" to="/">
                                MaxStore
                            </router-link>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="product-main col-md-9 ">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <div class="top-search">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="search">
                                                <form class="example" action="action_page.php">
                                                    <div class="form-search">
                                                        <button type="submit"><i class="fa fa-search"></i></button>
                                                        <input type="text" placeholder="Search.." name="search">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="isLoading" style="text-align: center;  height: 500px;"
                                     class="row align-items-center justify-content-center">
                                    <div class="col-12">
                                        <b-spinner label="Loading"></b-spinner>
                                    </div>
                                </div>
                                <div v-else-if="!isLoading" class="row">
                                    <div class="row px-3">
                                        <div v-for="(item, index) of items" v-bind:key="index" class="col-md-3">
                                            <router-link class="router-decoration"
                                                         :to="'/product-page/' + item.documentId">
                                                <div class="product-item-box">
                                                    <div class="product-img">
                                                        <img :src="item.image_firebase_url">
                                                    </div>
                                                    <div class="product-content">
                                                        <p>{{item.name}}</p>
                                                        <p class="price">
                                                            <del class="strike">{{item.saleprice ? item.price : ""}}
                                                            </del>
                                                            <span class="price-tag">درہم</span>{{item.saleprice ?
                                                            item.saleprice : item.price}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </router-link>
                                        </div>
                                    </div>


                                    <button v-on:click="paginateItems()" class="btn"
                                            style="margin-inline: auto;color: #000000; background-color: #FF9D0C; border-color: #FF9D0C">
                                        Load More
                                    </button>

                                </div>
                                <div v-if="isPaginating" style="text-align: center;  height: 500px;"
                                     class="row align-items-center justify-content-center">
                                    <div class="col-12">
                                        <b-spinner label="Loading"></b-spinner>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="category-sec">
                        <div class="category">
                            <h3>category</h3>
                            <div class="accordion" id="accordionExample">
                                <ul class="category">
                                    <li v-for="(category, index) in categories" v-bind:key="index">
                                        <a class="catg-list" data-toggle="collapse"
                                           :data-target="'#collapse'+index"
                                           aria-expanded="true" aria-controls="collapseOne"
                                           v-on:click="getSubCategories(category.documentId)">
                                            <i class="fa fa-chevron-down lft" aria-hidden="true"></i>
                                            <i class="fa fa-chevron-up rgt" aria-hidden="true"></i>
                                            {{category.cat_name}}
                                            <i class="fa fa-cart-plus right-icon" aria-hidden="true"></i>
                                        </a>
                                        <div v-bind:id="'collapse'+index" class="collapse" aria-labelledby="headingOne"
                                             data-parent="#accordionExample">
                                            <ul class="inner-items">
                                                <li v-if="subCategories.length < 1">...</li>
                                                <li v-for="subCat of subCategories" v-bind:key="subCat.documentId">
                                                    <a v-on:click="getCategoryItems(subCat.documentId)">
                                                        {{subCat.cat_name}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ShopPageComponent",

        props: ['catId', 'isFeature', "isOnSale", "venId"],

        async beforeMount() {
            await this.getItems();
            await this.getCategories();
            this.isLoading = false;
        },

        data() {
            return {
                items: [],
                isLoading: true,
                currentPage: 1,
                categories: [],
                subCategories: [],
                isPaginating: false,
                categoryId: this.catId,
                feature: this.isFeature,
                vendorId: this.venId
            }
        },

        methods: {
            async getItems() {
                console.log("Here is is Feature", this.feature);
                let string = `/api/firebase/getPaginationItems`
                if (this.categoryId) {
                    string  += `?id=${this.categoryId}&parentCat=true`;
                } else if (this.vendorId) {  
                    console.log(this.vendorId);
                    string += `?vendorId=${this.vendorId}`
                } else if (this.feature) {
                    string += `?feature=${true}`
                }
                const {data} = await window.axios.get(string);
                console.log(data);
                this.items = data;
            },

            async getCategories() {
                const {data} = await window.axios.get('/api/firebase/getParentCategories');
                console.log(data);
                this.categories = data;
            },

            async getSubCategories(id) {
                this.subCategories = [];
                this.categoryId = id;
                const {data} = await window.axios.get(`/api/firebase/getChildCategories?id=${id}`);
                this.subCategories = data;
                await this.getCategoryItems(id, true);
                console.log(data);
            },

            async paginateItems() {
                this.isPaginating = true;
                let string = `/api/firebase/getPaginationItems?last=${this.items[this.items.length - 1].documentId}`;
                if (this.categoryId) {
                    string += `&id=${this.categoryId}&parentCat=true`;
                } else if (this.vendorId) {  
                    string += `?vendorId=${this.vendorId}`
                } else if (this.feature) {
                    string += `&feature=${true}`;
                }
                const {data} = await window.axios.get(string);
                console.log(data);
                for (let i = 0; i < data.length; i++) {
                    let index = this.items.findIndex((x) => x.name === data[i].name);
                    console.log(index);
                    if (index === -1) {
                        this.items.push(data[i]);
                    }
                }
                this.isPaginating = false;
            },

            async getCategoryItems(id, parentCat = false) {
                console.log(id);
                this.categoryId = id;
                const {data} = await window.axios.get(`/api/firebase/getItemsByCatId?id=${id}&parentCat=${parentCat}`);
                this.items = data;
                console.log(this.items);
            },
        },


    }
</script>

<style lang="scss">
    @import "resources/sass/shop-page/shop-page";
</style>
