<template>
    <div class="item-box mb-3">
        <div class="row">
            <div class="col-6">
                <a v-on:click="goToShopPage()" class="p-0  m-4">
                    <i class="fa fa-forward"></i>
                    View All
                </a>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <p class="p-0 m-4 box-heading">
                    {{name}}
                </p>
            </div>
        </div>
        <div class="row scrollable-row">
            <div v-for="(item,index) in items" v-if="index < 10" class="col-3 p-0 scrollable-col" style="max-width: 200px;">
                <router-link class="router-decoration" :to="'/product-page/' + item.documentId">
                    <item-wrapper :item="item"></item-wrapper>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>


    export default {
        name: "ItemBoxComponent",

        props: {
            name : {
                type: String,
                default: ""
            },

            items: {
                default: function () { return [] }
            }
        },

        created() {
            console.log(this.name);
        },
        methods: {
            goToShopPage() {
                if (this.name === "Featured Items") {
                    this.$router.push({name: 'ShopPage', params: { isFeature: true }});
                }
            }
        },


    }
</script>

<style scoped>
    .item-box {
        border-radius: 12px;
        height: 100%;
        background-color: #ffffff;
    }

    .box-heading {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        color: #131414;
    }

    .scrollable-row {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        margin: 0;
    }

    /*.scrollable-row::-webkit-scrollbar {*/
    /*    display: none;*/
    /*}*/

    .scrollable-col {
        display: inline-block;
        float: none;
    }

</style>
